@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
  font-family: var(--font-body);
  font-size: 1rem;
}

h1{
  font-family: var(--font-heading);
  font-size: 3rem;
}
h2,
h3,
h4{
  font-size: 2rem;
  font-weight: 700;
}

:focus{
box-shadow: none !important;
}

section a{
  text-decoration: underline;
}

button{
  font-family: var(--font-heading);
}
// button:hover{
//   background-color: #FB9C37;
// }
article ul{
  margin-left: 1rem;
  list-style: disc;
  & > ul{
    margin-left: 1rem;
  }
}
ol {
  margin-left: 1rem;
  list-style-position: inside;
  list-style: decimal;
  font-weight: bold;
  & li{
    margin: 1rem auto;
  }
}
.list-disc ul{
  list-style: disc;
  margin-left: 2rem;
}
img{
  max-width: 100%;
}

input,
textarea{
  width: 100%;
  padding: .5rem;
  border: .002rem solid rgb(128, 126, 126);
  border-radius: 1rem
}

svg{
  display: inline-block;
}
@media screen and (max-width: 768px){
  h1{
    font-family: var(--font-heading);
    font-size: 1.5rem;
  }
  h2,
  h3,
  h4{
    font-size: 1rem;
  }
  body{
    font-size: 0.8rem;
  }
}