@import './variables.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body{
  font-family: var(--font-body);
  font-size: 1rem;
  
}

h1{
  font-family: var(--font-heading);
  font-size: 3rem;
}
h2,
h3,
h4{
  font-size: 2rem;
}

i{
}

:focus{
box-shadow: none !important;
}

button:hover{
  background-color: #FB9C37  !important;
}
ol {
  list-style-position: inside;
  list-style: decimal;
  font-weight: bold;
  & li{
    margin: 1rem auto;
  }
}


