@import './variables.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body{
  font-family: var(--font-body);
  
}

h1{
  font-family: var(--font-heading);
  font-size: 3rem;
}
:focus{
box-shadow: none !important;
}

button:hover{
  background-color: #b461a88f  !important;
}